.titulo {
  text-align: center;
  color: $bg_verde_muy_oscuro;
  font-size: 35px;
}
p {
  width: 80%;
  margin-left: 110px;
}
.imagen_1 {
  margin-left: 180px;
  width: 60%;
}
.imagen_2 {
  margin-left: 180px;
  width: 60%;
}
.imagen_3 {
  margin-left: 180px;
  width: 60%;
}
.imagen_4 {
  margin-left: 180px;
  width: 60%;
}
.imagen_5 {
  margin-left: 180px;
  width: 60%;
}
.imagen_6 {
  margin-left: 180px;
  width: 60%;
}
.imagen_7 {
  margin-left: 180px;
  width: 60%;
}
